[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "prezto"]
	path = prezto
	url = git@github.com:minhduc0711/prezto.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:minhduc0711/.tmux.git
