screen_down         <C-d>
screen_up           <C-u>

next_page <S-i>
previous_page <S-h>

# Goto the previous history point
prev_state          <C-o>
# If we are not at the end of viewing history, goto the next history point
next_state          <C-i>

# Open searchable table of contents
goto_toc            <tab>

# gg and G does not "go pass pdf boundaries"
goto_begining;screen_down gg
goto_end;screen_up <S-g>
