background_color    0.0 0.0 0.0
text_highlight_color    0.55 0.0 0.55

# How many inches we move vertically/horizontally when performing move_* commands
vertical_move_amount      0.2
horizontal_move_amount    0.2

touchpad_sensitivity 2

collapsed_toc 1
should_launch_new_instance 1
should_launch_new_window 1

page_separator_width 5
page_separator_color 0.5 0.5 0.5
