[Unit]
Description=Noisetorch Noise Cancelling
Requires=sys-devices-pci0000:00-0000:00:1f.3-sound-card0-controlC0.device
After=sys-devices-pci0000:00-0000:00:1f.3-sound-card0-controlC0.device
# Depending on if you're using pulseaudio or pipewire, uncomment the correct line
# After=pulseaudio.service
After=pipewire.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=sleep 10
ExecStart=/usr/bin/noisetorch -i -s alsa_input.pci-0000_00_1f.3.analog-stereo -t 90
ExecStop=/usr/bin/noisetorch -u

[Install]
WantedBy=default.target
